.fade {
    display: none;
}

.show {
    display: block;
}

.modal {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-header { 
justify-content: space-between;
}

input.ng-invalid.ng-touched {
    border-bottom: 2px solid red ;
}

.close {
    border: none;
    background-color: #ffffff;
}

.alert-style {
    position: absolute;
    z-index: 1;
    right: 1%;
    bottom: 0;
}