/* You can add global styles to this file, and also import other style files */
.image-container {
  width: 200px;
  height: 56px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-bg {
  background-color: #d8f0ff;
}